@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#threeCard {
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    background-color: pink;
    height: auto;
}

.MainCard {
    width: 100vw;
    height: auto;
    display: flex;
    display: flex;
    padding: 15rem;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: pink;
}

.card1 {
    background-color: chocolate;
    width: 20vw;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.card2 {
    background-color: darkcyan;
    width: 20vw;
    padding: 2rem;
    border-radius: 1rem;
    height: auto;
}

.card3 {
    background-color: green;
    width: 20vw;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
}

div>h1 {
    padding: 1rem;
    font-family: 'Mukta', sans-serif;
}

div>p {
    padding: 2rem;
}

.btn1 {
    background-color: #fff;
    border-radius: 5rem;
    width: 8rem;
    font-weight: bold;
    color: chocolate;
    padding: .5rem;
}

.btn2 {
    background-color: #fff;
    border-radius: 5rem;
    width: 8rem;
    font-weight: bold;
    color: darkcyan;
    padding: .5rem;
}

.btn3 {
    background-color: #fff;
    border-radius: 5rem;
    width: 8rem;
    font-weight: bold;
    color: green;
    padding: .5rem;
}